<b>Some Jupyter shortcuts:</b><br>
Enter: enter edit mode<br>
Shift-Enter: run cell, select below<br>
Ctrl-Enter: run cell<br>
Alt-Enter: run cell, insert below<br>
Y: to code<br>
M: to markdown<br>

### Let's create a list of strings

In [1]:
list1 = ['a', 'b', 'c']

In [2]:
list1

['a', 'b', 'c']

### Let's append an item

In [3]:
list1.append('d')

In [4]:
list1

['a', 'b', 'c', 'd']

### Let's remove an item

In [5]:
list1.remove('c')

In [6]:
list1

['a', 'b', 'd']

### Let's step through the list with a For Loop

In [7]:
for item in list1:
    print(item)  # Note the indent instead of braces

a
b
d

### Looping via Indices (Not the way a Python programmer would do it...)

In [8]:
for i in range(len(list1)):
    print ('index', i, '=', list1[i])

index 0 = a
index 1 = b
index 2 = d

### Let's delete an item via the index value

In [9]:
del(list1[1])  # i.e., the 2nd item

In [10]:
list1

['a', 'd']

### Let's mix data types

In [11]:
list2 = [1, "AB", (255, 255, 0), ['a', 'b', 0], 'c', {"Name": "Peter"}, "Last One"]    # No problems!

In [12]:
for item in list2:
    print(item, '=', type(item))

1 = <class 'int'>
AB = <class 'str'>
(255, 255, 0) = <class 'tuple'>
['a', 'b', 0] = <class 'list'>
c = <class 'str'>
{'Name': 'Peter'} = <class 'dict'>
Last One = <class 'str'>

### Print the first two items only

In [13]:
list2[0:2]

[1, 'AB']

In [14]:
list2[:2]   # This also works

[1, 'AB']

### Print the last one

In [15]:
list2[-1]

'Last One'

### Print the last two

In [16]:
list2[-2:]

[{'Name': 'Peter'}, 'Last One']

### Print every second one

In [17]:
list2[0::2]

[1, (255, 255, 0), 'c', 'Last One']

### List length

In [18]:
len(list2)

7

### Add (concatenate) lists

In [19]:
list1 = [1, 'A', 9]
list2 = ['C', 7, 'E']
list3 = list1 + list2
list3

[1, 'A', 9, 'C', 7, 'E']

### Insert an item into a list

In [20]:
list4 = [1, 4, 6, 4, 9, 2]
list4.insert(2, 10)
list4

[1, 4, 10, 6, 4, 9, 2]

### Sort a list

In [21]:
list4.sort()
list4

[1, 2, 4, 4, 6, 9, 10]

### Reverse a list

In [22]:
list4.reverse()
list4

[10, 9, 6, 4, 4, 2, 1]

### Count specific items in a list

In [23]:
list4.count(4)

2